@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap");

html, #root, body{
  background-color: black;
  font-family: "Plus Jakarta Sans" !important;
}

.new_box{
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: "Plus Jakarta Sans" !important;
  transform: translate(-50%, -50%);
}

.logo_real{
  margin: auto;
  display: flex;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 10px;
}

.logo_real img{
  margin: auto;
  width: 245px;
}

.bg_div{
  height: 250px;
  margin: auto;
  max-width: 400px !important;
  background-color: #0E0E0E !important  ;
  border-radius: 15px;
  position: relative;
}

.connect-button button{
  min-width: 237px !important;
  background: #1f4fac;
  color: white;
  width: 100% !;

}
